
@{
    Layout = null;
}

@if (TempData["MensagemSucesso"] != null)
{
<div class="alert alert-success alert-dismissible fade show"
role="alert"> <strong>Sucesso!</strong> @TempData["MensagemSucesso"]
<button type="button" class="btn-close" data-bs-dismiss="alert"
aria-label="Close"></button>
</div>
}

@if (TempData["MensagemErro"] != null)
{
<div class="alert alert-danger alert-dismissible fade show" role="alert"> <strong>Erro!</strong> @TempData["MensagemErro"]
<button type="button" class="btn-close" data-bs-dismiss="alert"
aria-label="Close"></button>
</div>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Área Restrita</title>

    <!-- folhas de estilo css -->
    <link href="~/css/bootstrap.css" rel="stylesheet" />

</head>
<body>

    <!-- menu do sistema -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Controle de Usuários</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Home/Index">Página Inicial</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Gerenciar Usuarios
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/Usuario/Cadastro">Cadastrar Usuários</a></li>
                            <li><a class="dropdown-item" href="/Usuario/Consulta">Consultar Usuários</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="text-white mr-4">
                    <div>Usuário autenticado:</div>
                    <div><strong>@User.Identity.Name</strong></div>
                </div>
                &nbsp;&nbsp;&nbsp;
                <div class="ml-2">
                    <a href="/Account/Logout" class="btn btn-light btn-sm">
                        Sair
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        @RenderBody()
    </div>

    <!-- arquivos javascript -->
    <script src="~/js/jquery-3.5.1.min.js"></script>
    <script src="~/js/bootstrap.js"></script>

</body>
</html>
